<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <title>Clash Royale: Random Deck</title>

    	<script src="//hello.myfonts.net/count/2fccc3" async></script>
        <link rel="stylesheet" href="static/css/styles.css">
		<link rel="stylesheet" href="static/css/bootstrap.css">
		<meta name="author" content="Barionix">
		<meta name="author" content="cogumm">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Clash Royale is a real-time multiplayer game starring the Royales, your favorite Clash of Clans characters and much, much more.">
        <meta name="keywords" content="Clash Royale, Mobile, iOS, beta, App, Strategy, Pvp, card, Clans, game, iPhone, Supercell, Official, Download, Install, Play, Free, iPad, Combat, Compete, duel, collect">
        <meta property="og:title" content="Clash Royale: Enter the Arena" />
        <meta property="og:site_name" content="Clash Royale"/>
        <meta property="og:description" content="Clash Royale is a real-time multiplayer game starring the Royales, your favorite Clash of Clans characters and much, much more." />
        <meta property="og:image" content="https://clashroyale.com/uploaded-images/CR_facebook_share_02.jpg?mtime=20160104014218" />

	    <link rel="manifest" href="/favicon/manifest.json">
	    <meta name="apple-mobile-web-app-title" content="Clash Royale">
	    <meta name="application-name" content="Clash Royale">
	    <meta name="theme-color" content="#ffffff">

        <script src="static/css/in-game-bundle.js"></script>
    </head>
    <body>
	    <div id="app">
		    <div class="App">
                <!-- header start -->
	            <header class="Header js-header">
                    <div class='Header-bg'></div>
                    
                    <div class="Navbar-holder">
                        <div class='Navbar-backdrop'></div>
                        <div class='Navbar-scroller'>
                            <div class="Navbar-FixedElements Navbar-wrapper">
                                <a href="/" class="Navbar-logo Navbar-logo-outside js-click" title="Home" data-category="Header" data-label="Logo">
                                    <picture class="">
                                        <source data-srcset="css/logo.png, https://clashroyale.com/uploaded-images/_268x126_crop_center-center_90/logo.png?mtime=20160225113328 2x" media="(max-width: 599px)">
                                        <source data-srcset="https://clashroyale.com/uploaded-images/_134x63_crop_center-center_90/logo.png?mtime=20160225113328, https://clashroyale.com/uploaded-images/_268x126_crop_center-center_90/logo.png?mtime=20160225113328 2x" media="(max-width: 1023px)">
                                        <source data-srcset="https://clashroyale.com/uploaded-images/_232x109_crop_center-center_90/logo.png?mtime=20160225113328, https://clashroyale.com/uploaded-images/_464x218_crop_center-center_90/logo.png?mtime=20160225113328 2x" media="(max-width: 1439px)">
                                        <source data-srcset="https://clashroyale.com/uploaded-images/_232x109_crop_center-center_90/logo.png?mtime=20160225113328, https://clashroyale.com/uploaded-images/_464x218_crop_center-center_90/logo.png?mtime=20160225113328 2x" media="(min-width: 1440px)">
                                        <img data-src="https://clashroyale.com/uploaded-images/_134x63_crop_center-center_90/logo.png?mtime=20160225113328" class="lazyload" alt="Logo" draggable="false">
                                    </picture>
                                </a>
<!--
                                <div class="Navbar-hamburger-bg" ref="NavbarBg"></div>
                                <div class="Navbar-hamburger-button">
                                    <div class="Navbar-hamburger">
                                        <div class="Navbar-hamburger-line Navbar-hamburger-line1"></div>
                                        <div class="Navbar-hamburger-line Navbar-hamburger-line2"></div>
                                        <div class="Navbar-hamburger-line Navbar-hamburger-line3"></div>
                                        <div class="Navbar-hamburger-line Navbar-hamburger-line4"></div>
                                    </div>
                                </div>
                            </div>
                            <nav class='Navbar' ref="Navbar">
                                <div class='Navbar-background' ref="navBg">
                                    <div class="Navbar-wrapper" ref="navbarWrapper">
                                        <div class='Navbar-nav'>
                                            <div class="Navbar-primarynav" ref="primaryNav">
                                                <a class="Navbar-item js-click " title="About the Game" href="#"  data-category="Nav" data-label="About the Game">Aaaaa</a>
                                                <a class="Navbar-item js-click Navbar-item-faq" title="FAQ" href="#"  data-category="Nav" data-label="FAQ">Bbbbb</a>
                                                <a class="Navbar-item js-click " title="Forum" href="#" target="_blank" data-category="Nav" data-label="Forum">Cccc</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>-->

	            </header>
	            <!-- header end -->

	            <!-- yield start -->

                <div class="home">
                    <!--Start First Blog Entry Row-->
                    <div class="section section-homepage section-homepage-main">
                        <div class="section-wrapper"></div>
                    </div>
                    <!--End First Blog Entry Row-->

                    <!--Start Community Row-->
                    <div class="section section-homepage section-homepage-community">
                        <div class="home-community-content">
                            <h1>Random das cartas</h1>
                            <br />
	                            <div class="section-wrapper">
	                                <!-- aqui vem as cartas -->
									{% for carta in cartas %}
		                                <div class="home-news-primary-item-holder">
		                                    <img src="{{ carta }}" alt="Cartas">
										</div>
	                              	{% endfor %}
										</br>
										{% for deck in cartas2 %}
		                                <div class="home-news-primary-item-holder">
    	                                    <img src="{{ deck }}" alt="Cartas">
										</div>
	                              	{% endfor %}
	                                <!-- até aqui -->
								</div>

                            <a href="/" class="button-primary js-click" data-category="Sorteio" data-label="Sorteio">
                                Sortear Deck
                            </a>
                            <br />
                        </div>
                    </div>
                    <!--End Community Row-->
                </div>
	            <!-- yield end -->
	            <!-- footer start -->
	            <footer class="Footer" ref="Footer">
                    <div class="Footer-wrapper">
                        <div class="Footer-primarynav js-hover-effect" ref="primaryNav">Desenvolvido por: <br />
                            <a class="Footer-item js-click" data-category="Footer" data-label="Support" href="https://t.me/Barionix" target="_blank" title="Support">@Barionix</a>
                            <a class="Footer-item js-click" data-category="Footer" data-label="Support" href="https://t.me/CoGUMm" target="_blank" title="Support">@CoGUMm</a>
                        </div>
				    </div>
			    </footer>
			    <!-- footer end -->
            </div>
        </div>
    </body>
<script src="static/css/bundle.js"></script>
</html>
